body {
    background-color: #fffaf5;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background-color: #dfead8;
    padding: 25px;
}

main {
    max-width: 1100px;
    margin: auto;
    padding: 40px 25px;
}

.title {
    color: #9b5f72;
    font-family: Georgia, 'Times New Roman', serif;
    margin-bottom: 15px;
}

.barramenu {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    gap: 15px;
}

.botonmenu {
    background-color: #e8c5ce;
    border-radius: 8px;
}

.botonmenu a {
    display: block;
    padding: 12px 22px;
    color: #5c3b46;
    text-decoration: none;
    border-radius: 8px;
}

.botonmenu a:hover {
    color: white;
    background-color: #d8aeb9;
}

.photo {
    width: 320px;
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
}

section {
    background-color: white;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 12px;
    max-width: 850px;
}

p {
    line-height: 1.5;
}

footer {
    background-color: #819678;
    color: white;
    padding: 15px;
    text-align: center;
}
.presentacion {
    text-align: center;
}

.lista-flores {
    color: #80596a;
    margin-bottom: 25px;
}

.lista-flores li {
    margin-bottom: 5px;
}